:root {
   --almost-black: #0f202a;
   --very-dark-blue: #192a32;
   --dark-blue: #1f3540;
   --gray: #a8bec9;
   --dark-gray: #728893;
   --light-blue: #00e1ffff;
   --darker-light-blue: #009baf;
   --light-orange: #ffc600ff;
   --dark-orange: #c9a04e;
}

.dark-blue {
   background-color: var(--dark-blue);
}

.gray {
   background: var(--gray);
}

.light-blue {
   background-color: var(--light-blue);
}

.light-orange {
   background-color: var(--light-orange);
}

.border-radius-sm {
   border-radius: 10px;
}

.border-radius-lg {
   border-radius: 15px;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Rubik', sans-serif;
   text-transform: uppercase;
   font-weight: 500;
}

html{
   overflow: hidden;
}

body {
   min-height: 100vh;
   background-color: var(--very-dark-blue);
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: hidden;
   position: relative;
}

button {
   border: none;
   cursor: pointer;
}

